.link {
  text-decoration: none;
  color: black;
}
.element {
  border: 1px solid black;
  margin: 0 0 -1px -1px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
  user-select: none;
  width: 60px;
  height: 72px;
  font-size: 0.8em;
}
@media (min-width: 800px) {
  .element {
    width: 75px;
    height: 90px;
    font-size: 1em;
  }
}
.element:hover {
  background-color: white;

}
.atomicNumber {
  padding: 0 2px;
  font-size: 0.75em;
}
.symbol {
  font-size: 1.75em;
  text-align: center;
}
.name {
  font-size: 0.60em;
  text-align: center;
}
.mass {
  font-size: 0.75em;
  text-align: center;
}


/* .block--s { */
/*   composes: element; */
/*   background-color: rgb(79, 163, 62); */
/* } */
/* .block--d { */
/*   composes: element; */
/*   background-color: rgb(212, 134, 54); */
/* } */
/* .block--p { */
/*   composes: element; */
/*   background-color: rgb(177, 74, 74); */
/* } */
/* .block--f { */
/*   composes: element; */
/*   background-color: rgb(60, 181, 208); */
/* } */
.block {
  composes: element;
  &--s {
    background-color: rgb(79, 163, 62);
  }
  &--d {
    background-color: rgb(212, 134, 54);
  }
  &--p {
    background-color: rgb(177, 74, 74);
  }
  &--f {
    background-color: rgb(60, 181, 208);
  }
}

@media (min-width: 700px) and (max-width: 800px){
}
