.elementPreview{
  position: absolute;
  left: 180px;
  margin: 0 0 -1px -1px;
  height: calc(90px * 2.5);
  box-sizing: border-box;
  display: flex;
}
.container {
  display: flex;
  flex-direction: column;
}
.header {
}
.preview {
  width: calc(74px * 2.5);
  box-sizing: border-box;
  text-align: center;
  border: 1px solid black;
  padding: 5px;
  position: relative;
}
.symbol {
  font-size: 5em;
  position: relative;
  top: 60px;
}
.atomicNumber {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
}
.atomicWeight {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.name {
  position: absolute;
  bottom: 25px;
  width: 100%;
}
.properties {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}
.property {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 2px;
}
